<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="students::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is Home page</title>
</head>
<body>

<section>

		<div class="text-center">
			<h1 class="font-weight-bold">Student Records</h1>
			
			<p>Start Collecting your contacts in very smarter way. We provide
				very efficient and smarter way of handling contacts.</p>
		<button class="btn bg-primary btn-lg text-white">Get Started</button>
		</div>
	</section>
	<h1>Everything works so far!</h1>
</body>
</html>